<footer class="blog-footer position-relative mt-3" style="background-color: #6518f5d1;">
    <div class="content m-0 text-white">
        <div class="container d-flex">
            <div class="map">
                <h4>Địa chỉ</h4>
                <p>Số 1, Phạm Văn A
                    Thanh Xuân, Hà Nội</p>
            </div>
            <div class="link">
                <h4>Liên kết</h4>
                <div class="social d-flex justify-content-evenly">
                    <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
                    <span><i class="fa fa-google-plus" aria-hidden="true"></i></span>
                    <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="infomation-web">
                <h4>Website</h4>
                <div class="row">
                    <div class="col-6">
                        <ul class="navbar-nav">
                            <a class="nav-link text-white" href="">
                                Trang chủ
                            </a>
                            <a class="nav-link text-white" href="">
                                Giới thiệu
                            </a>
                            <a class="nav-link text-white" href="">
                                Chức năng
                            </a>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="navbar-nav">
                            <a class="nav-link text-white" href="">
                                Làm bài
                            </a>
                            <a class="nav-link text-white" href="">
                                Xem điểm
                            </a>
                            <a class="nav-link text-white" href="">
                                Đề thi
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-absolute text-end" style="top:0;right: 4%;padding: 7px;">
        <button class="btn btn-totop btn-secondary rounded-circle" style="box-shadow: 0 0 2px black;"
                onclick="document.documentElement.scrollTop=0;"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
</footer>